.landing_top_container {
    width:100%;
    height: 80vh;
    background-image: url(../../assets/landing_1024.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.landing_title {
    height: 300px;
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 3em;
    font-weight: 600;
    color: #fdfefd;
    opacity: .85;
    text-shadow: 2px 2px #141414;
}

.landing_sign_in_button {
    width: 300px;
    height: 60px;
    margin: auto;
    display: block;
    margin-top: 30px;
    background-color: rgb(255, 123, 0);
    border-radius: 5px;
    border-width: 0;
    text-decoration: none;
    color: #fdfefd;
    font-size: 1.5em;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-color: #fdfefd;
    text-shadow: 1px 1px #141414;
    box-shadow: 1px 1px grey;
}

a {
    text-decoration: none;
}

@media (min-width: 600px) {
    .landing_top_container {
        height: 100vh;
    }
    .landing_sign_in_button {
        margin-bottom: 30px;
    }
}

@media (min-width: 900px) {
    
}

@media (min-width: 1280px) {
    .landing_top_container{
        background-image: url(../../assets/landing_1280.jpg);
    }
    .landing_title {
        width: 600px;
        font-size: 4em;
        text-align: center;
    }
    
    .landing_sign_in_button {
        margin-bottom: 100px;
    }
}