
.header2_main_container {
    width:100%;
    height: 10vh;
    background: #fdfefd;

    display:flex;
    align-items: center;
}

.header2_content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_home_button_container_link {
    width: 30%;
}

.logo_home_button {
    width: 100%;
    height: 8vh;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header2_logo_button_content {
    width: 30%;
    height: 90%;
    color: rgb(255, 123, 0);
    font-size: 2.5em;
    font-weight: 600;
    border-style: solid;
    border-color: #383d3b;
    text-shadow: 1px 1px #141414;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header2_logo_text {
    color: #bf3100;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 1px 1px #141414;
}

.links_container {
    width: 50%;
    height: 8vh;
    margin-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 1.6em;
    color: #0b132b;
    font-weight: 550;
}